<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>
<ul>
    <form action="/dashboard/login/" method="post">
        <li><input type="text" name="username" id="username"/></li>
        <li><input type="password" name="password" id="password"/></li>
        <li><input type="submit" name="登录" id="form_submit"/></li>


    </form>
</ul>

</body>
</html>

<script>

    $(function () {

        $("$#form_submit").click(function () {
            var username = $("#username").val();
            var password = $("#password").val();
            console.log("用户名: " + username);
            console.log("密码: " + password);


            $.post("/dashboard/login/", {username: username, password: password},
                    function (data) {
                        alert("Data Loaded: " + data);
                    }
            );
            return false;
        })
    });
</script>
